@model IEnumerable<OnlineTitleSearch.Models.Result>

@{
    ViewBag.Title = "Index";
}

<h2>"Online Title Search"</h2>
<h4>@Model.First().Search.SearchDate.ToString()</h4>

<table class="table">
    <tr>
        <th>
            Index
        </th>
        <th>
            Website
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ResultIndex)
    </td>
    <td>
        <a href="@Html.DisplayFor(modelItem => item.Domain.DomainUrl)">@Html.DisplayFor(modelItem => item.Domain.DomainTitle)</a>
    </td>
</tr>
}

</table>
