@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This ASP.NET MVC 5 application automates the process of searching "online title search" on Google and 
    finding results from the InfoTrack domain out of the first 100 results. The Entity Framework Code First
    approach is used so make the process of setting up a database much easier, as the only prerequisite to
    running this application is to simply have Microsoft SQL Server Management Studio installed on your 
    computer.</p>
